{
  "env": {
    "test": {
      "presets": "env",
      "plugins": [
        ["babel-plugin-transform-builtin-extend", { "globals": ["Error"] }]
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        ["babel-plugin-transform-builtin-extend", { "globals": ["Error"] }],
        "external-helpers"
      ]
    }
  }
}
